@import "tailwindcss";

:root {
  font-family: 'Be Vietnam Pro', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}